@import url('http://fonts.cdnfonts.com/css/roboto');
@import url('http://fonts.cdnfonts.com/css/nunito-sans');

.container{ width: 100%;}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26px;
  left: 0px;
  top: 0px;
  background: #4938B5;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav-bar {
  position:sticky;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 79px;
  top: 0px;
}

.nav-bar img {
  width:150px;
  height: 30px;

}

.nav-bar .nav-font{
  color: #1D0D85;
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}
.nav-bar .nav-font li{
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.nav-bar .nav-font li a{
  text-decoration: none;
 
}

.container-slider{
width: 100%;
height: 455px;
position: relative;

}

.container-slider .slider{
  width: 100%;
  height: 455px;
}

.container-productos{
  width: 100%;
  height: 571px;
  left: 0px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.container-productos .card{
  position: relative;
  width: 287px;
  height: 411px;
  transition: 1s;
  
}

.container-productos .card:hover{ 
  transition: 1s; 
  opacity: 0.7;

}

.container-productos .card .card-img{
  position:absolute;
  width: 287px;
  height: 240px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

.container-productos .card .card-text{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 58.39%;
  bottom: 0%;
  background: #EDEDED;
}

.container-productos .card .card-img .imagen{
  position: absolute;
  width: 247.74px;
  height: 240px;
  left: 20px;
  top: 0px;
}

.container-productos .card .card-img .rectangle{
  position: absolute;
  width: 42px;
  height: 40px;
  left: 229px;
  top: 16px;
}

.container-productos .card .card-img .discount{
  z-index: 2;
  position: absolute;
  width: 27px;
  height: 16px;
  left: 237px;
  top: 28px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.container-productos .card .card-img .banderin{
  position: absolute;
  width: 113.67px;
  height: 94.56px;
  left: 0px;
  top: 0px;
}
.container-productos .card .card-img .banderin .new{
  z-index: 2;
  position: absolute;
  left: 11px;
  right: 53.4px;
  top: 4px;
  bottom: 54.4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.container-productos .card .card-img .banderin .vector{
  position: absolute;
  left: 0%;
  right: 60.39%;
  top: 0%;
  bottom: 60.6%;
}

.container-productos .card .card-text .card-info{
  position: absolute;
  width: 287px;
  height: 171px;
  left: 0px;
  top: 0px;
}

.container-productos .card .card-text .card-info .descripcion{
  position: absolute;
  width: 205px;
  height: 41px;
  left: 20px;
  top: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #272727;
}

.container-productos .card .card-text .card-info .og-precio{
  position: absolute;
  width: 80px;
  height: 26px;
  left: 20px;
  top: 68px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #6C757D;
}

.container-productos .card .card-text .card-info .precio{
  position: absolute;
  width: 70px;
  height: 20px;
  left: 116px;
  top: 68px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #4938B5;
  
}

.container-productos .card .card-text .card-info .buy-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  position: absolute;
  width: 249px;
  left: 19px;
  top: 110px;
  bottom: 19px;
  background: #4938B5;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  gap: 16px;
  
}

.container-prof .cont-h2{
  display: flex;
  flex-flow: column;
}

.container-prof .prof{
  margin-left: 77px;
  float: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34.6192px;
  line-height: 41px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1D0D85; 
  }
.container-prof .spec{
  margin-left: 77px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1D0D85; 
  }

.container-esp{
  display: grid;
  height: 537px; 
  padding: 0px 80px;
  gap: 16px;
  margin: 0 auto;
}
.uno{
  grid-column: 2/3;
  grid-row: -1/-2;
  width: 100%;
  height: 193px;
  object-fit: cover;
}
.container-esp img:hover{
  transition: 1s;
  opacity: 0.7;
}
.container-esp img{
  transition: 1s;
  
}
.dos{
  grid-column: 3/4;
  grid-row: -1/-3;
  width: 100%;
  height: 536px;
  object-fit: cover;
  
}

.tres{
  grid-column: 1/2;
  grid-row: -1/-2;
  width: 100%;
  height: 192.23px;
  object-fit: cover;
}
.cuatro{
  grid-column: 1/3;
  grid-row: -2/-3;
  width: 100%;
  height: 328px;
  object-fit: cover;
}
.container-news{
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  height: 225px;
  margin-top: 125px;
  background: #EDEDED;

}

.container-sub h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #272727;
}

.container-sub p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #72757E;
  }

.container-input{
  width: 50%;
  display: flex;
  gap: 17px;
  justify-content: right;
}

.container-input input{
  border: none;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #43464E;
  background: #FFFFFF;
}
.container-input button{
  border: none;
  background: #4938B5;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  

}
.vector-on{display: none;}

@media (max-width:1280px){
  .container-news{
    flex-flow: column;
    height: 275px;
    padding: 0;
    
  }
  .container-input{
    width:95%;
    flex-flow: column;
  }
  .container-input input{
    width:95.5%;
  }
  .container-sub{
    width: 90%;
  }
  .container-input button{
    margin-bottom: 29px;
  }
  .tarjeta4{
    display: none;
  }
}

@media (max-width:1000px){
  .tarjeta4, .tarjeta3{
    display: none;
  }
  .font-off{
    display: none;
  }
  .vector-on{
    display:initial;
  }
  .container-esp{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    gap: 16px;
    margin-bottom: 125px;
    height: 409px;
    padding: 16px;
  }
  .uno{
    object-fit: cover;
    width: 48%;
    order: 3;
    height: 163px;
  }
  .dos{
    object-fit: cover;
    width: 48%;
    order: 4;
    height: 230px;
  }
  .tres{
    object-fit: cover;
    width: 48%;
    order: 2;
    height: 163px;
  }
  .cuatro{
    object-fit: cover;
    width: 48%;
    order: 1;
    height: 230px;
  }
  .container-prof .cont-h2{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  .container-prof .prof{
    margin-left: 0px;
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D0D85; 
    }
  .container-prof .spec{
    margin-left: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D0D85; 
    }
}

@media (max-width: 650px){
  .tarjeta2{
    display: none;
  }
  .nav-bar{
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bar .nav-font{
    gap: 20px;
  }
  .container-slider{
    height: 300px;
  }
  .container-slider .slider{
    height: 300px;
  }
}

